*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
}

.header 
{
  width: 100%;
  height: 100vh;
  background-color: #242E4D;
}

/* NAVIGATION */

.navbar 
{
  width: 100%;
  height: 100px;
  position: fixed;
  background: #1f2235;
  z-index: 1;
  top: 0;
}

.navbar__container 
{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbar__left-logo 
{
  width: 146x;
  margin-right: 50px;
  color: #fff;
  font-size: 30px;
}
.container 
{
  width: 1200px;
  margin: 0 auto;
}

.navbar__right 
{
  display: flex;
  list-style-type: none;
}

.navbar__right li a 
{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}